<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/codeigniter4/framework/system/Test/bootstrap.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>

        <exclude>
            <directory suffix=".php">./src/Config</directory>
            <directory suffix=".php">./src/Views</directory>
            <directory suffix=".php">./src/Language</directory>
        </exclude>
    </source>

    <php>
        <env name="CI_ENVIRONMENT" value="testing"/>
        <env name="database.tests.DBDriver" value="SQLite3"/>
        <env name="database.tests.database" value="database.sqlite"/>
    </php>
</phpunit>
